.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true' id="modal-1")
	.modal-dialog
		.modal-content

			.modal-header
				button.close(type='button', data-dismiss='modal', aria-hidden='true')
				h4#myModalLabel.modal-title Название проекта?

			.modal-body
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta corrupti, ad. Itaque quisquam tempore explicabo voluptates, aliquam laboriosam repellat consequatur!